body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('bg/bg13');
  background-size: 100%;

}


*{
  margin: 0;
  padding: 0;
}
header,footer{
  position: absolute;
  background-color: rgba(104, 252, 250, 0.836);
  width: 100%;
}
header h2{
  position: absolute;
  margin-top: 30px;
}
header{
  height: 20vh;
}


.bunner{
  top: 150px;
  height: 1000px;
  width: 100%;
  position: relative;
  display: block;
  background: rgb(0, 0, 0);
  background: url(bg/b2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

  .bunner .welcome {
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 100%;
    margin-left: 48%;

    position: relative;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 0 auto;
    color: rgb(227, 228, 227);
    text-align: center;
    background: rgba(128, 128, 128, 0.608);
    
}

.bunner .welcome p a{
  color: rgb(172, 39, 39);
  padding: 6px 11px;
  border-radius: 3px;
  background: rgb(4, 122, 71);

}


.bunner-abt{
    top:0;
    height: 500px;
    width: 100%;
    position: relative;
    display: block;
    background: yellow;
    background: url(bg/b1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.bunner-abt .welcome {
    top: 90px;
    left: 25px;
    display: block;

    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 35px;
    margin: 0 auto;
    color: white;
    background: rgba(12, 145, 193, 0.6);
    background-size: cover;
}

.bunner-abt .welcome p a{
    color: rgb(255, 255, 255);
    padding: 6px 11px;
    border-radius: 3px;
    background: red;

}


footer{
  height: 10vh;
  position: fixed;
  bottom: 0;
}
footer h2{
  position: absolute;
  left: 45% ;
}
footer h4{
  position: relative;
  left: 45% ;
  bottom: 5px;
}

footer p{
  position: absolute;
  left: 48%;
  bottom: 15px;
  color: rgb(6, 3, 54);


}
.nav{
  position: absolute;
  width: 100%;
}
.nav a{
  position: relative;
  left: 70%;
  top: 60px;
  color: rgb(6, 3, 54);
  text-decoration: none;
  margin-right:20px;
}
.newsfeed{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.content{
  position:absolute;
  margin-top: 220px;
  margin-left: 10%;
}

.content h1{
  color: rgb(44, 6, 6);
 

}

.content h2{
  color: white;
 font-style: italic;

}

.content p{
  position: absolute;
  width: 400px;
  color: rgb(13, 13, 14);



}

.content2{
  position:absolute;
  margin-top: 220px;
  margin-left: 40%;
}

.content2 h1{
  color: rgb(44, 6, 6);

}

.content2 p{
  position: absolute;
  width: 400px;
  color: rgb(13, 13, 14);



}


.content3{
  position:absolute;
  margin-top: 220px;
  margin-left: 70%;

}

.content3 h1{
  color: rgb(44, 6, 6);

}

.content3 p{
  position: absolute;
  width: 400px;
  color: rgb(13, 13, 14);



}
.content4{
  position:absolute;
  margin-top: 500px;
  margin-left: 10%;
}

.content4 h1{
  color: rgb(44, 6, 6);

}

.content4 p{
  position: absolute;
  width: 650px;
  color: rgb(13, 13, 14);



}
.content5{
  position:absolute;
  margin-top: 700px;
  margin-left: 60%;
}

.content5 h1{
  color: rgb(44, 6, 6);

}

.content5 p{
  position: absolute;
  width: 650px;
  color: rgb(13, 13, 14);



}
.content6{
  position:absolute;
  margin-top: 700px;
  margin-left: 75%;
}

.content6 h1{
  color: rgb(44, 6, 6);

}
.content6 p{
  position: absolute;
  width: 650px;
  color: rgb(13, 13, 14);



}


.content7{
  position:absolute;
  margin-top: 500px;
  margin-left: 50%;
}

.content7 h1{
  color: rgb(44, 6, 6);

}

.content7 p{
  position: absolute;
  width: 650px;
  color: rgb(13, 13, 14);

}


.content8{
  position:absolute;
  margin-top: 200px;
  margin-left: 35%;

}

.content8 h1{
  color: rgb(44, 6, 6);

}

.content8 p{
  position: absolute;
  width: 650px;
  align-content: center;
  color: rgb(13, 13, 14);
}

.content9{
  position:absolute;
  margin-top: 360px;
  margin-left: 35%;

}

.content9 h1{
  color: rgb(44, 6, 6);

}

.content9 h2{
  color: rgb(44, 6, 6);
  top: 300px;

}

.content9 p{
  position: absolute;
  width: 650px;
  align-content: center;
  color: rgb(13, 13, 14);
}

/* .content10{
  position: relative;
  justify-content: center;
   width: 700px;
   margin-top: 500px;
   margin-left: 48%;
   margin:20px ;
} */

body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(244, 250, 243);  
}  
.container {  
    padding: 50px;  
  background-color: lightblue;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: orange;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  

}






*{ 
  margin: 0px;
  padding: 0px;
font-family:poppins;
box-sizing: border-box;

}
a{
  text-decoration: none;

}
ul{
  list-style: none;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}
#blog{
  display: flex;
  justify-content: center;
  top: 500px;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgb(0, 0, 0,05);

}
.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-heading span{
  color: rgb(255, 0, 242);
  width: 200px;
  height: 250px;
}
.blog-heading h3{
  font-size: 2.4rem;
  margin-left: 20%;
  color: rgb(0, 0, 0);
  font-weight: 600;
  
}
.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
/* .blog-box{
  width: 350px;
  background-color: green;
  border: 1px solid brown;
  margin: 20px;
}
.blog-img{
  width: 100%;
  height:auto;

}
.blog-img img{
  width: 30%;
  height: 30%;
  object-fit: cover;
  object-position: center;
} */

.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span{
  color: blueviolet;
  font-size: 0.9rem;
}
.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}
.blog-text .blog-title:hover{
  color: red;
  transition: all ease 0.3s;
}

.blog-text a{
  color: Black ;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
